.flex {
    border-radius: 0.15rem;
    border: 0.2rem solid rgba(150, 150, 150, 0.8);
    display: flex;
    padding: 0.75rem;
    height: 8rem;
}

.fixed-height {
    height: 20rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.height-responsive {
    height: auto;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.flex-item {
    background-color: rgba(150, 150, 150, 0.1);
    border: 0.2rem solid rgba(150, 150, 150, 0.3);
    border-radius: 0.15rem;
    text-align: center;
    padding: 0.25rem;
}

.flex-item1 {
    width: 25%;
    height: 2rem;
}

.flex-item2 {
    width: 30%;
    height: 1.5rem;
}

.flex-item3 {
    width: 60%;
    height: 3rem;
}

.flex-item4 {
    width: 10%;
    height: 2rem;
}